{% extends "home/base.html" %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block main %}

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About US</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <section class="breeder-details-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="breeder-details-content">
                                <h4 class="title">Premium health remedies principles</h4>
                                <ul class="product-desc-list">
                                    <li>Leadership</li>
                                    <li>Kaizen - Continuous Improvement</li>
                                    <li>Reduction of Cost</li>
                                    <li>Trust</li>
                                    <li>Standardize & Sustain - 5S</li>
                                    <li>Customer Satisfaction</li>
                                    <li>Safety, Health, Environment</li>
                                </ul>
                                <br>
                                <h4 class="title">OUR VISION</h4>
                                <p> To be most preferred source of our esteemed veterinary doctor.</p>

                                <h4 class="title">OUR MISSION</h4>
                                <p> Premium health remedies India’s fast growth up pharmaceutical company which mfg veterinary product to supply veterinary doctor.</p>
                                <p>Our vision is innovation, renovative, kaizen, in veterinary products for speechless animal health wise and cost economic and 
                                    sustainable by way of understanding the exact need of our veterinary division doctor.</p>
                                <p>Company follow 5s system, just in time, kaizen change for better.</p>

                                <h4 class="title">OUR GOAL</h4>
                                <p>Premium health remedies working for a speechless animal add value to their life.</p>

                                <h4 class="title">OUR VALUE</h4>
                                <p>Quality is never an accident, it is always results of intelligent effort, 
                                    there must be a will to produce superior things.
                                </p>

                                <h4 class="title">About Premium Health Remedies</h4>
                                <p>Premium health remedies is a Gujarat based companion animal health care company ,
                                    established in 2021.we started by TQM,TPM,sales marketing team which is leading market from year.</p>

                                   <p> Premium health remedies believe in kaizen change for better for companion animal health care.
                                    premium health remedies stand for trusted platform module in companion animal health care.</p>
                                    
                                    <p>PHR have trusted and noteworthy products development for animal health care pharmaceutical company of veterinary professional in India.
                                        our product development Gmp based on plan do check action concept. Also tested for safety and efficacy.</p>
                                    
                                    <p>We working with veterinary doctors, NGO,government </p>
                                    
                                    <p>Premium health remedies committed to speechless animals.</p>
                                <center>
                                    
                                    <div class="breeder-details-img">
                                        <img src="{% static 'img/images/vision_2.jpg' %}" alt="">
                                    </div>
                                </center>
                                <h4 class="title">About Founder</h4>
                                <p>The domestic dog is doiated dendant of the wolf. The dog t is derived from an ancient, extinct wolf, 
                                    and the modern grey wolf is the dog's nesdarest living relative. 
                                    The dog was the first species to be dometed, by hunter.</p>
                                <div class="breeder-dog-info">
                                    
                                    <a href="{% url 'contact' %}" class="btn">Contact Today <img src="img/icon/w_pawprint.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
{% endblock %}
