{% extends "home/base.html" %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block main %}

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About US</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
        <center>
            <section class="breeder-details-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="breeder-details-content">
                                <h4 class="title">PREMIUM HEALTH REMEDIES PRINCIPAL</h4>
                                <ul class="product-desc-list">
                                    <li>Leadership</li>
                                    <li>Kaizen - Continuous Improvement</li>
                                    <li>Reduction of Cost</li>
                                    <li>Trust</li>
                                    <li>Standardize & Sustain - 5S</li>
                                    <li>Customer Satisfaction</li>
                                    <li>Safety, Health, Environment</li>
                                </ul>
                                <br>
                                <h4 class="title">OUR VISION</h4>
                                <p> To be most preferred source of our esteemed veterinary doctor.</p>

                                <h4 class="title">OUR MISSION</h4>
                                <p> Premium health remedies India’s fast growth up pharmaceutical company which mfg veterinary product to supply veterinary doctor.</p>
                                <p>Our vision is innovation, renovative, kaizen, in veterinary products for speechless animal health wise and cost economic and 
                                    sustainable by way of understanding the exact need of our veterinary division doctor.</p>
                                <p>Company follow 5s system, just in time, kaizen change for better.</p>

                                <h4 class="title">OUR GOAL</h4>
                                <p>Premium health remedies working for a speechless animal add value to their life.</p>

                                <h4 class="title">OUR VALUE</h4>
                                <p>Quality is never an accident, it is always results of intelligent effort, 
                                    there must be a will to produce superior things.
                                </p>

                                <h4 class="title">About Premium Health Remedies</h4>
                                <p>Premium health remedies is a Gujarat based companion animal health care company ,
                                    established in 2021.we started by TQM,TPM,sales marketing team which is leading market from year.</p>

                                   <p> Premium health remedies believe in kaizen change for better for companion animal health care.
                                    premium health remedies stand for trusted platform module in companion animal health care.</p>
                                    
                                    <p>PHR have trusted and noteworthy products development for animal health care pharmaceutical company of veterinary professional in India.
                                        our product development Gmp based on plan do check action concept. Also tested for safety and efficacy.</p>
                                    
                                    <p>We working with veterinary doctors, NGO,government </p>
                                    
                                    <p>Premium health remedies committed to speechless animals.</p>
                                
                                    
                                    <div class="breeder-details-img">
                                        <img src="{% static 'img/images/vision_2.jpg' %}" alt="">
                                    </div>
                                    <h4 class="title">About Founder</h4>
                                <h5 class="title">DR. JAYDEEP D. PIPALIYA(FOUNDER)(B.V.SC.& A.H. GVC NO-4166 )</h5>
                                <img src="{% static 'other/Jaydeep_Pipaliya.jpg' %}" alt="">
                                <br>
                                <p>DR. JAYDEEP D. PIPALIYA, founder of PHRPET,
                                    With 10 years of hands-on expertise at Lotus Animal Hospital, DR. JAYDEEP D. PIPLIAYA founded Phrpet to bridge veterinary innovation and practical care, 
                                    crafting science-backed solutions trusted by professionals for healthier, happier pets.
                                </p>
                                
                                <h5 class="title">HAPPY V. PAMBHAR(FOUNDER)</h5>
                                <img src="{% static 'other/Happy_Pambhar.jpg' %}" alt=""><br><br>
                                <p>HAPPY V. PAMBHAR , founder of PHRPET, He has 7 years marketing experiance in pharma division and last 5 year in veterinary pharma.
                                     He has sufficient knowlege regrading market scenario and product rampup to vetarnary clinic.
                                     He has a brifely knowledge of TPM, TQM, 5S, Six Sigma, Kanban, Just in Time, FIFO LIFO, PLAN DO CHECK ACTION.
                                    Driven by kaizen (continuous improvement) and SHE principles, their vision prioritizes vet trust,
                                     premium science-backed solutions, and eco-conscious practices. Phrpet’s standardized, cost-effective products empower veterinarians globally, 
                                     ensuring pet wellness and client satisfaction. A leader in ethical, forward-thinking care,
                                     Happy embodies Phrpet’s mission: Elevating standards, one paw at a time.</p>
                                
                                <div class="breeder-dog-info">
                                    
                                    <a href="{% url 'contact' %}" class="btn">Contact Today <img src="img/icon/w_pawprint.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
    </center>
{% endblock %}
