{% extends "home/base.html" %}
{% load static %}
{% block title %}
Category-{{category}}
{% endblock %}

{% block main %}
<section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">{{ category.name }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- shop-area -->
<div class="shop-area pt-110 pb-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-8 order-2 order-lg-0">
                <aside class="shop-sidebar">
                    <div class="widget">
                        <div class="sidebar-search">
                            <form action="#">
                                <input type="text" placeholder="Search ...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="sidebar-title">Category</h4>
                        <div class="shop-cat-list">
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category' category.id %}">{{ category.name }} <span>{{ category.products.count}}+</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>
                    
                </aside>
            </div>
            <div class="col-lg-9">
                <div class="shop-wrap">
                    <h4 class="title">{{ category.name }}</h4>
                    
                    <div class="row justify-content-center">
                        {% for product in category.products.all%}
                        <div class="col-lg-4 col-sm-6">
                            <div class="shop-item mb-55">
                                <div class="shop-thumb">
                                    {% if product.images.exists %}
                                        <a href="{% url 'product_detail' product.id %}"><img id="related_img" src="{{ product.images.first.image.url }}" alt="{{ related_product.name }}"></a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}"><img id="related_img" src="{% static 'phrlogo.jpg' %}" alt="No Image Available"></a>
                                    {% endif %}
                                    
                                </div>
                                <div class="shop-content">
                                    <span>{{product.category.name}}</span>
                                    <h4 class="title"><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h4>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area-end -->
{% endblock %}