{% extends "home/base.html" %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}

{% block main %}

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Contact Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact US</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-110 pb-110">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row justify-content-center justify-content-lg-between">
                            <div class="col-lg-6 col-md-8 order-2 order-lg-0">
                                <div class="contact-title mb-20">
                                    <h5 class="sub-title">Contact Us</h5>
                                    <h2 class="title">Let's Talk Question<span>.</span></h2>
                                </div>
                                <div class="contact-wrap-content">
                                    <p>Have questions? Connect with Premium Health Remedies for tailored solutions to elevate your veterinary care expertise.</p>
                                    <form method="post" action="{% url 'contact' %}" class="contact-form">
                                        {% csrf_token %}
                                        <div class="form-grp">
                                            <label for="id_name">Your Name <span>*</span></label>
                                            {{ form.name }}
                                        </div>
                                        <div class="form-grp">
                                            <label for="id_email">Your Email <span>*</span></label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-grp">
                                            <label for="id_message">Your Message <span>*</span></label>
                                            {{ form.message }}
                                        </div>
                                        <div class="form-grp checkbox-grp">
                                            <input type="checkbox" id="checkbox">
                                            <label for="checkbox">Don’t show your email address</label>
                                        </div>
                                        <button type="submit" class="btn rounded-btn">Send Now</button>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 col-md-8">
                                <div class="contact-info-wrap">
                                    <div class="contact-img">
                                        <img src="{% static 'img/images/contact_img.png' %}" alt="">
                                    </div>
                                    <div class="contact-info-list">
                                        <ul>
                                            <li>
                                                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                                <div class="content">
                                                    <p> 1,B/H, Parsana Palace, Plot No. 31, Shreenath Park, Kalavad Rd, Mota Mauva, Rajkot, Gujarat 360005</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                                <div class="content">
                                                    <p>96240 00995</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fas fa-envelope-open"></i></div>
                                                <div class="content">
                                                    <p>Contact@info.com</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="contact-social">
                                        <ul>
                                            <li><a href="https://wa.me/9624000995?text=Hello%20I%20have%20a%20question%20about%20your%20Products."><i class="fab fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- newsletter-area -->
            <div class="newsletter-area pb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="newsletter-wrap">
                                <div class="newsletter-content">
                                    <h2 class="title">Newsletter For</h2>
                                    <p><span>*</span> Do Not Show Your Email.</p>
                                </div>
                                <div class="newsletter-form">
                                    <form action="#">
                                        <input type="email" placeholder="Enter Your Email...">
                                        <button type="submit" class="btn">Subscribe</button>
                                    </form>
                                </div>
                                <div class="newsletter-shape"><img src="{% static 'img/images/newsletter_shape01.png' %}" alt=""></div>
                                <div class="newsletter-shape shape-two"><img src="{% static 'img/images/newsletter_shape02.png' %}" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- newsletter-area-end -->
            <script>
                {% if messages %}
                    {% for message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                    setTimeout(() => {
                        window.location.href = "{% url 'home' %}";
                    }, 1000); // Wait 1 second (1000 milliseconds) before redirecting
                {% endif %}
                </script>

{% endblock %}
