{% extends "home/base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock %}

{% block main %}
            <!-- slider-area -->
            <section class="slider-area slider-style-two">
                <div class="slider-active">
                    <!-- Slide 1 -->
                    <div class="single-slider slider-bg d-flex align-items-center" data-background="{% static 'img/slider/s_slider_bg01.jpg' %}">
                        <div class="container custom-container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-7 col-md-10">
                                    <div class="slider-content">
                                        <div class="slider-title">
                                            <h2 class="title" data-animation="fadeInUpBig" data-delay=".2s" data-duration="1.2s">
                                                Welcome to <span>PHR</span> Premium Health Remedies
                                            </h2>
                                        </div>
                                        <div class="slider-desc">
                                            <p class="desc" data-animation="fadeInUpBig" data-delay=".4s" data-duration="1.2s">
                                                Human Shampoo on Dogs After six days of deliberation, the jury found Hernandez guilty of first-degree murder.
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    {% for slider in sliders %}
                        <div class="single-slider slider-bg d-flex align-items-center" data-background="{{ slider.image.url }}">
                            <div class="container custom-container">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-7 col-md-10">
                                        <div class="slider-content">
                                            <div class="slider-title">
                                                <h2 class="title" data-animation="fadeInUpBig" data-delay=".2s" data-duration="1.2s">
                                                    {{ slider.title }}
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <!-- slider-area-end -->

           <!-- counter-area -->
           <section class="counter-area counter-bg" data-background="{% static 'img/bg/counter_bg.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="counter-title text-center mb-65">
                            <h6 class="sub-title">Why Choose Us?</h6>
                            <h2 class="title">Breakthrough kaizen for champion animal.</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="counter-item">
                            <h2 class="count"><span class="odometer" data-count="200"></span>+</h2>
                            <p>vets trust us</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="counter-item">
                            <h2 class="count"><span class="odometer" data-count="40"></span>+</h2>
                            <p>Products</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="counter-item">
                            <h2 class="count"><span class="odometer" data-count="10"></span>+</h2>
                            <p>Registered brand</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="counter-item">
                            <h2 class="count"><span class="odometer" data-count="3"></span>+</h2>
                            <p>Years Of History</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- counter-area-end -->

        <!-- breeder-area -->
        <section class="breeder-area breeder-bg">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-4 col-lg-8">
                        <div class="adoption-content">
                            <h2 class="title">Partnering with <span> Premium Health Remedies:</span> Ensuring Joyful Pet Health! </h2>
                            <p>For vets and pet lovers in India: Choose Premium Health Remedies for innovative, quality products. We combine expert care with love, bringing you solutions trusted by professionals and cherished by pet parents.</p>
                            <a href="{% static 'files/catalog.pdf' %}" download class="btn">Download Catalog 
                                <img src="{% static 'img/icon/w_pawprint.png' %}" alt="">
                            </a><br/><br/>
                            <a href="{% url 'category' '2'%}" class="btn">View Products 
                                <img src="{% static 'img/icon/w_pawprint.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-xl-8 col-lg-9 col-md-12 col-sm-9">
                        <div class="breeder-info-wrap">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-md-6">
                                    <div class="breeder-active owl-carousel">
                                        <div class="breeder-item">
                                            <a href="{% url 'about' %}">
                                                <img src="{% static 'img/images/vision_1.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="breeder-item">
                                            <a href="{% url 'about' %}">
                                                <img  src="{% static 'img/images/vision_2.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="breed-services-info" data-background="{% static 'img/bg/breed_services_bg.jpg' %}">
                                        <h5 class="sub-title">About PHR</h5>
                                        <h3 class="title">PHR</h3>
                                        <p>Premium health remedies is a Gujarat based companion animal health care company ,established in 2021.
                                            we started by TQM,TPM,sales marketing team which is leading market from year.
                                        </p>
                                        <a href="{% url 'about' %}" class="btn">More about PHR
                                            <img src="{% static 'img/icon/w_pawprint.png' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </section>
        <!-- breeder-area-end -->


                    <!-- Category-area -->
        <section class="adoption-area-two pt-110 pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon">
                                <img src="{% static 'img/icon/pawprint.png' %}" alt="">
                            </div>
                            <h5 class="sub-title">Look PHR Products</h5>
                            <h2 class="title">Our Innovative Product Category</h2>
                            <p>Advanced care solutions, natural supplements, disease prevention, recovery aids, and tailored remedies for pets' wellness.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-container">
                <div class="row adopt-active">
                    {% for category in categories %}
                        <div class="col-xl-6">
                            <div class="adoption-item">
                                <div class="adopt-thumb">
                                    <a href="{% url 'category' category.id %}">
                                        <img id="home_img" src="{{ category.image.url }}" alt="{{ category.name }}">
                                    </a>
                                    <span class="status">New</span>
                                </div>
                                <div class="adopt-content">
                                    <h3 class="title">
                                        <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                                    </h3>
                                    <p>{{ category.description }}</p>
                                    <a href="{% url 'category' category.id %}" class="read-more">Explore More
                                        <img src="{% static 'img/icon/pawprint.png' %}" alt="Pawprint">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- Category-area-end -->

            <!-- faq-area -->
            <section class="faq-area faq-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="faq-img-wrap">
                                <img src="{% static 'img/images/faq_tv.png' %}" class="img-frame" alt="">
                                <img src="{% static 'img/images/faq_img.jpg' %}" class="main-img" alt="">
                                <a href="https://www.youtube.com/watch?v=89Wlddvd23E" class="popup-video"></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div class="section-title mb-35">
                                    <h5 class="sub-title">FAQ Question</h5>
                                    <h2 class="title">History & More About PHR</h2>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    {% for faq in faqs %}
                                    <div class="card">
                                        <div class="card-header" id="heading{{ forloop.counter }}">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                                    data-target="#collapse{{ forloop.counter }}" aria-expanded="{{ forloop.first|yesno:'true,false'}}"
                                                    aria-controls="collapse{{ forloop.counter }}">
                                                    {{ faq.question }}
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" 
                                            aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                                            <div class="card-body">
                                                {{ faq.answer }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-shape"><img src="{% static 'img/images/faq_shape.png' %}" alt=""></div>
            </section>
            <!-- faq-area-end -->
        
            <!-- brand-area -->
           
            <!-- brand-area-end -->

             <!-- testimonial-area -->
             <section class="testimonial-area testimonial-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-65">
                                <div class="section-icon"><img src="{% static 'img/icon/pawprint.png' %}" alt=""></div>
                                <h5 class="sub-title">Testimonials</h5>
                                <h2 class="title">Trusted by Many Veterinary Doctors</h2>
                                <p>Trusted by veterinarians for premium quality products, ensuring optimal 
                                    pet health and exceptional client satisfaction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row testimonial-active">
                        {% for testimonial in testimonials %}
                            <div class="col-lg-6">
                                <div class="testimonial-item">
                                    <div class="testi-avatar-thumb">
                                        <img src="{{ testimonial.picture.url }}" alt="{{ testimonial.doctor_name }}">
                                    </div>
                                    <div class="testi-content">
                                        <p>“ {{ testimonial.description }} ”</p>
                                        <div class="testi-avatar-info">
                                            <h5 class="title">{{ testimonial.doctor_name }}</h5>
                                            <span>{{ testimonial.clinic_name }} - {{ testimonial.doctor_city }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- testimonial-area-end -->

            <!-- blog-area 
            <section class="blog-area pt-110 pb-60">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-65">
                                <div class="section-icon"><img src="{% static 'img/icon/pawprint.png' %}" alt="pawprint">></div>
                                <h5 class="sub-title">Our News</h5>
                                <h2 class="title">Latest News Update</h2>
                                <p>The best overall dog DNA test is Embark Breed & Health Kit (view at Chewy), which provides you with a
                                    breed brwn and information most dogs</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-post-item mb-50">
                                <div class="blog-post-thumb">
                                    <a href="blog-details.html"><img src="{% static 'img/blog/blog_post_thumb01.jpg' %}" alt=""></a>
                                    <div class="blog-post-tag">
                                        <a href="#"><i class="flaticon-bookmark-1"></i>Sharped</a>
                                    </div>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                                            <li><i class="far fa-bell"></i> Mar 10, 2021</li>
                                        </ul>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Working For Dog Adoption</a></h3>
                                    <p>The best overall dog test is Embark Breed & Health Kit view at Chewy.</p>
                                    <a href="blog-details.html" class="read-more">Read More <img src="{% static 'img/icon/pawprint.png' %}" alt=""></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-post-item mb-50">
                                <div class="blog-post-thumb">
                                    <a href="blog-details.html"><img src="{% static 'img/blog/blog_post_thumb02.jpg' %}" alt=""></a>
                                    <div class="blog-post-tag">
                                        <a href="#"><i class="flaticon-bookmark-1"></i>Creative</a>
                                    </div>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                                            <li><i class="far fa-bell"></i> Mar 12, 2021</li>
                                        </ul>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Dog Derived From an Ancient</a></h3>
                                    <p>The best overall dog test is Embark Breed & Health Kit view at Chewy.</p>
                                    <a href="blog-details.html" class="read-more">Read More <img src="{% static 'img/icon/pawprint.png' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-post-item mb-50">
                                <div class="blog-post-thumb">
                                    <a href="blog-details.html"><img src="{% static 'img/blog/blog_post_thumb03.jpg' %}" alt=""></a>
                                    <div class="blog-post-tag">
                                        <a href="#"><i class="flaticon-bookmark-1"></i>Business</a>
                                    </div>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                                            <li><i class="far fa-bell"></i> Mar 12, 2021</li>
                                        </ul>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Ten Dog Breeds are Noted</a></h3>
                                    <p>The best overall dog test is Embark Breed & Health Kit view at Chewy.</p>
                                    <a href="blog-details.html" class="read-more">Read More <img src="{% static 'img/icon/pawprint.png' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            blog-area-end -->

{% endblock %}