{% extends "home/base.html" %}
{% load static %}
{% block title %}
Product-{{product.name}}
{% endblock %}

{% block main %}
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">{{ product.name }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'category' product.category.id %}">{{product.category.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- shop-details-area -->
<section class="shop-details-area pt-110 pb-50">
    <div class="container">
        <div class="shop-details-wrap">
            <div class="row">
                <div class="col-7">
                    <div class="shop-details-img-wrap">
                        <div class="tab-content" id="myTabContent">
                            {% for image in product.images.all %}
                                <div class="tab-pane {% if forloop.first %}show active{% endif %}" 
                                     id="item-{{ forloop.counter }}" 
                                     role="tabpanel" 
                                     aria-labelledby="item-{{ forloop.counter }}-tab">
                                    <div class="shop-details-img">
                                        <img id="big_img" src="{{ image.image.url }}" alt="{{ product.name }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="shop-details-nav-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for image in product.images.all %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if forloop.first %}active{% endif %}" 
                                       id="item-{{ forloop.counter }}-tab" 
                                       data-toggle="tab" 
                                       href="#item-{{ forloop.counter }}" 
                                       role="tab" 
                                       aria-controls="item-{{ forloop.counter }}" 
                                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        <img id="small_img" src="{{ image.image.url }}" alt="{{ product.name }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-5">
                    <div class="shop-details-content">
                        <span>{{ product.category.name }}</span>
                        <h2 class="title">{{ product.name }}</h2>
                        <div class="shop-details-review">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>( 01 Review )</span>
                        </div>
                        <div class="shop-details-price">
                            <h2 class="price">${{ product.mrp }}</h2>
                            <h5 class="stock-status">- IN Stock</h5>
                        </div>
                        <p>{{ product.description }}</p>
                        <div class="shop-details-bottom">
                            <ul>
                                <li class="sd-category">
                                    <span class="title">Composition :</span>
                                    <p>{{ product.composition }}</p>
                                </li>
                                <li class="sd-packing">
                                    <span class="title">Packing :</span>
                                    {{ product.packing }}
                                </li>
                                <li class="sd-category">
                                    <span class="title">Categories :</span>
                                    <a href="{% url 'category' product.category.id %}">{{ product.category.name }}</a>
                                </li>
                                <li class="sd-sku">
                                    <span class="title">SKU :</span>
                                    <a href="shop.html">H#21546</a>
                                </li>
                                <li class="sd-share">
                                    <span class="title">Share Now :</span>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
        <div class="row">
            <div class="col-12">
                <div class="product-desc-wrap">
                    <ul class="nav nav-tabs" id="myTabTwo" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                                aria-controls="details" aria-selected="true">Benifits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="val-tab" data-toggle="tab" href="#val" role="tab" aria-controls="val"
                                aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                                aria-controls="review" aria-selected="false">Reviews (0)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContentTwo">
                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                            <div class="product-desc-content">
                                <ul class="product-desc-list">
                                    {% for benefit in benefits_list %}
                                        <li>{{ benefit }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="val" role="tabpanel" aria-labelledby="val-tab">
                            <div class="product-desc-info">
                                <div class="row">
                                    <div class="col-xl-3 col-md-5">
                                        <div class="product-desc-img">
                                            <img src="{% static 'img/product/desc_img.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-md-7">
                                        <h5 class="small-title">100% Knit Knacks</h5>
                                        <p>Cramond Leopard & Pythong Print Anorak Jacket In Beige but also the leap into
                                            electronic typesetting, remaining lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        <ul class="product-desc-list">
                                            <li>65% poly, 35% rayon</li>
                                            <li>Partially lined</li>
                                            <li>Hidden front button closure with keyhole accents</li>
                                            <li>Button cuff sleeves</li>
                                            <li>Lightweight semi-sheer fabrication</li>
                                            <li>Made in USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <div class="product-desc-review">
                                <div class="review-title mb-20">
                                    <h4 class="title">Customer Reviews (0)</h4>
                                </div>
                                <div class="left-rc">
                                    <p>No reviews yet</p>
                                </div>
                                <div class="right-rc">
                                    <a href="#">Write a review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products-wrap">
            <h2 class="title">Related Products</h2>
            <div class="row related-product-active">
                {% for related_product in related_products %}

        <div class="col-lg-3">
            <div class="shop-item mb-55">
                <div class="shop-thumb">
                    <a href="{% url 'product_detail' related_product.id %}">
                        {% if related_product.images.exists %}
                            <img id="related_img" src="{{ related_product.images.first.image.url }}" alt="{{ related_product.name }}">
                        {% else %}
                            <img id="related_img" src="{% static 'phrlogo.jpg' %}" alt="No Image Available">
                        {% endif %}
                    </a>
                </div>
                <div class="shop-content">
                    <span>{{ related_product.category.name }}</span>
                    <h4 class="title">
                        <a href="{% url 'product_detail' related_product.id %}">{{ related_product.name }}</a>
                    </h4>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No related products available.</p>
    {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- shop-details-area-end -->
{% endblock %}