{% extends "home/base.html" %}
{% load static %}
{% block title %}
Product-{{product.name}}
{% endblock %}

{% block main %}
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">{{ product.name }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'category' product.category.id %}">{{product.category.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- shop-details-area -->
<section class="shop-details-area pt-110 pb-50">
    <div class="container">
        <div class="shop-details-wrap">
            <div class="row">
                <div class="col-7">
                    <div class="shop-details-img-wrap">
                        <div class="tab-content" id="myTabContent">
                            {% for image in product.images.all %}
                                <div class="tab-pane {% if forloop.first %}show active{% endif %}" 
                                     id="item-{{ forloop.counter }}" 
                                     role="tabpanel" 
                                     aria-labelledby="item-{{ forloop.counter }}-tab">
                                    <div class="shop-details-img">
                                        <img id="big_img" src="{{ image.image.url }}" alt="{{ product.name }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="shop-details-nav-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for image in product.images.all %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if forloop.first %}active{% endif %}" 
                                       id="item-{{ forloop.counter }}-tab" 
                                       data-toggle="tab" 
                                       href="#item-{{ forloop.counter }}" 
                                       role="tab" 
                                       aria-controls="item-{{ forloop.counter }}" 
                                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        <img id="small_img" src="{{ image.image.url }}" alt="{{ product.name }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-5">
                    <div class="shop-details-content">
                        <span>{{ product.category.name }}</span>
                        <h2 class="title">{{ product.name }}</h2>
                        
                        <div class="shop-details-bottom">
                            <ul>
                                <li class="sd-packing">
                                    <span class="title">Description :</span>
                                </li>
                                <p>{{ product.description }}</p>
                                <li class="sd-category">
                                    <span class="title">Composition :</span>
                                    <table border="1">
                                    {% for composition in composition_list %}
                                        <tr>
                                            <td width="300" align="center">{{ composition }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                </li>
                                <li class="sd-packing">
                                    <span class="title">Presentation :</span>
                                    {{ product.packing }}
                                </li>
                                <li class="sd-packing">
                                    <span class="price">MRP :</span>
                                    ₹ {{ product.mrp }}
                                </li>
                                <li class="sd-category">
                                    <span class="title">Categories :</span>
                                    <a href="{% url 'category' product.category.id %}">{{ product.category.name }}</a>
                                </li>
                                <li class="sd-share">
                                    <span class="title">Share Now :</span>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
        <div class="row">
            <div class="col-12">
                <div class="product-desc-wrap">
                    <ul class="nav nav-tabs" id="myTabTwo" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                                aria-controls="details" aria-selected="true">Benifits</a>
                        </li>
                        
                        
                    </ul>
                    <div class="tab-content" id="myTabContentTwo">
                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                            <div class="product-desc-content">
                                <ul class="product-desc-list">
                                    {% for benefit in benefits_list %}
                                        <li>{{ benefit }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
        <div class="related-products-wrap">
            <h2 class="title">Related Products</h2>
            <div class="row related-product-active">
                {% for related_product in related_products %}

        <div class="col-lg-3">
            <div class="shop-item mb-55">
                <div class="shop-thumb">
                    <a href="{% url 'product_detail' related_product.id %}">
                        {% if related_product.images.exists %}
                            <img id="related_img" src="{{ related_product.images.first.image.url }}" alt="{{ related_product.name }}">
                        {% else %}
                            <img id="related_img" src="{% static 'phrlogo.jpg' %}" alt="No Image Available">
                        {% endif %}
                    </a>
                </div>
                <div class="shop-content">
                    <span>{{ related_product.category.name }}</span>
                    <h4 class="title">
                        <a href="{% url 'product_detail' related_product.id %}">{{ related_product.name }}</a>
                    </h4>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No related products available.</p>
    {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- shop-details-area-end -->
{% endblock %}